/* ==========================================================
   RESET GLOBAL
   Remove margens padrão e define box-sizing padrão
========================================================== */


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}





/* ==========================================================
   CONFIGURAÇÕES GERAIS DO SITE
========================================================== */

body {
  font-family: 'Segoe UI', Arial, sans-serif;
  background-color: #ffffff;
  padding-top: 150px; /* igual altura do header */
  overflow-x: hidden;
}

main {
  padding-top: 150px;
}

section {
  padding: 100px 0;
}


 /* ==========================================================
   HEADER FIXO 
========================================================== */

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
  z-index: 9999;
  transition: all 0.4s ease;
  background: linear-gradient(135deg,#062A5E,#1E63B7);
  
}

/* ==========================================================
   HEADER ROLAR 
========================================================== */

header.scrolled {
  background: #ffffff;
  height: 85px;
  box-shadow: 0 6px 20px rgba(0,0,0,.12);
}

/* cores ao rolar */
header.scrolled nav a {
  color: #ee780a;
}

header.scrolled nav a::after {
  background: #062A5E;
}

header.scrolled .btn-matricula {
  background: linear-gradient(135deg,#062A5E,#1E63B7);
  color: #fff;
}


/* logo ao rolar */
header.scrolled .logo img {
  height: 55px;
  filter: none;
}

/* hamburguer ao rolar */
header.scrolled .menu-toggle span {
  background: #062A5E;
}







/* ==========================================================
   MENU
========================================================== */
.menu {
  display: flex;
  align-items: center;
  gap: 20px;
}

.menu a {
  font-size: 20px;
}

/* título escondido no desktop */
.titulo-site{
display:none;
text-align:center;
color:#fff;
font-weight:700;
}

/* subtitulo */
.titulo-site span{
font-size:12px;
font-weight:400;
}
/* ==========================================================
   NAVEGAÇÃO - 
========================================================== */

nav {
  display: flex;
  flex-wrap: wrap-reverse;
  gap: 30px;
}


nav a{
  text-decoration:none;
  color:#fff;
  font-size:20px;
  font-weight:600;
  position:relative;
  transition: 0.3s;
}

/* efeito underline animado */

nav a::after{
  content:"";
  position:absolute;
  width:0%;
  height:3px;
  background:#facc15;
  left:0;
  bottom:-6px;
  transition:.3s;
}

nav a:hover::after{
  opacity: 0.7;
  width:100%;
}

/* ==========================================================
  ================= BOTÃO HAMBURGUER ================= 

========================================================== */

.menu-toggle {
  display: none;
  flex-direction: column;
  justify-content: center;
  gap: 6px;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 1100;
}

.menu-toggle span {
  width: 28px;
  height: 3px;
  background: #fff;
  border-radius: 2px;
  transition: 0.3s;
}

/* ANIMAÇÃO VIRAR X */

.menu-toggle.active span:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.menu-toggle.active span:nth-child(2) {
  opacity: 0;
}

.menu-toggle.active span:nth-child(3) {
  transform: rotate(-45deg) translate(6px, -6px);
}

/* ==========================================================
   BOTÃO PADRÃO MATRICULAS
========================================================== */

.btn-matricula {

  padding: 10px 22px;
  border-radius: 25px;

  background: linear-gradient(135deg, #facc15, #E65100);

  color: #fff;
  font-weight: bold;
  text-decoration: none;

  transition: 0.3s;

  box-shadow:0 8px 22px rgba(0,0,0,.25);

  position: relative;
  overflow: hidden;

}


/* HOVER */

.btn-matricula:hover {

  transform: translateY(-3px);

  box-shadow: 0 12px 28px rgba(0,0,0,.35);

}


/* BRILHO */

.btn-matricula::before {

  content: "";

  position: absolute;

  top: 0;
  left: -75%;

  width: 50%;
  height: 100%;

  background: linear-gradient(
    120deg,
    transparent,
    rgba(255,255,255,0.7),
    transparent
  );

  transform: skewX(-25deg);

  transition: 0.6s;

}


/* ANIMAÇÃO DO BRILHO */

.btn-matricula:hover::before {

  left: 130%;

}



/* ==========================================================
   LOGO + ANIMAÇÕES
========================================================== */
.logo {
  margin-left: 50px;
  
}



.logo img {
  height: 90px;
  margin: 0;
  transition: transform 0.3s ease;
}




.titulo {
  font-size: 20px;
  line-height: 1.2;
  opacity: 0;
  visibility: hidden;
  transform: translateY(20px);
  color: #0B3C8C;
  font-weight: 700;
  transition: .4s ease;
 
}

.titulo span {
  font-size: 14px;
  opacity: 0.85;
}

@keyframes zoomDown {
  0%   { transform: scale(1) translateY(0); }
  50%  { transform: scale(1.06) translateY(6px); }
  100% { transform: scale(1) translateY(0); }
}

.logo img {
  animation: zoomDown 2s infinite ease-in-out;
}

header.scrolled .logo{
  opacity: 0;
  visibility: hidden;
  transform: translateY(-20px);
}


header.scrolled .titulo {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}



/* ==========================================================
SEÇÃO DESTAQUE
========================================================== */
.selo-matriculas{

display:inline-flex;
align-items:center;
background:linear-gradient(180deg,#ffa726,#ff7a00);
padding:12px 28px 12px 55px;
border-radius:10px;
color:white;
font-weight:bold;
position:relative;
box-shadow:0 8px 20px rgba(0,0,0,0.25);
margin-bottom: 30px;
}


/* ICONE GRANDE SALTANDO */

.icone-selo{
position:absolute;
left:-35px;
top:-30px;
background:linear-gradient(180deg,#ffb74d,#ff8f00);
width:70px;
height:70px;
display:flex;
align-items:center;
justify-content:center;
border-radius:8px;
font-size:30px;
box-shadow:0 6px 15px rgba(0,0,0,0.3);


}


/* TEXTO */

.texto-selo{

display:flex;

flex-direction:column;

line-height:1.2;

}


/* MATRÍCULAS */

.linha1{

font-size:30px;

}


/* VAGAS LIMITADAS */

.linha2{

background:linear-gradient(180deg,#ffe082,#ffd54f);

color:#454546;

padding:3px 10px;

border-radius:6px;

font-size:16px;

margin-top:4px;

width:fit-content;

}



.banner-escolar{
  background-image: url("IMAGEM/fundo_banner_escola.png");
  background-size: cover;
  background-position: center;
  padding: 140px 20px;
  color: white;
  margin-bottom: 0%;
}

.container{
  max-width: 1400px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.banner-texto{
  max-width: 600px;
  
}


.banner-escolar h1{
  font-size: 52px;
  line-height: 1.1;
  

}

.banner-escolar h1 strong{
  color: #ffc107;
}

.banner-escolar h3{
margin-top:12px;
font-weight:600;
font-size:22px;
color:#f4f4f5;
padding-left:12px;
border-left:4px solid #ff8a00;
}

.banner-escolar p{
  margin-top: 15px;
  line-height: 1.6;
}

.beneficios{
display:grid;
grid-template-columns:1fr 1fr;
gap:20px 40px;
margin-top:25px;
}

.beneficio-item{
display:flex;
align-items:center;
justify-content:center;
gap:12px;
color:white;
font-size:16px;
text-align:center;
}

.beneficio-item p{
margin:0;
}

.icone-check{
width:28px;
height:28px;
background:#ff7a00;
border-radius:50%;
display:flex;
align-items:center;
justify-content:center;
color:white;
font-size:14px;
font-weight:bold;
}


/* BOTÃO BASE */

.botoes{
display:flex;
gap:15px;
margin-top:30px;
}

.btn{

position:relative;

overflow:hidden;

padding:15px 32px;

border-radius:8px;

font-weight:bold;

text-decoration:none;

font-size:16px;

transition:0.3s;

}


/* BOTÃO LARANJA */

.btn-vaga{

background:linear-gradient(180deg,#ffa726,#ff7a00);

color:white;

box-shadow:0 6px 15px rgba(0,0,0,0.2);

}


/* BOTÃO AZUL */

.btn-saiba{

border:2px solid white;

color:white;

}

.modal-horario{
display:none;
position:fixed;
top:0;
left:0;
width:100%;
height:100%;
background:rgba(0,0,0,0.65);
backdrop-filter:blur(6px);
justify-content:center;
align-items:center;
z-index:999;
padding:20px;
}

.modal-box{
background:rgba(255,255,255,0.9);
backdrop-filter:blur(10px);
border-radius:20px;
padding:45px;
max-width:750px;
width:100%;
text-align:center;
position:relative;
box-shadow:0 25px 60px rgba(0,0,0,0.25);
animation:modalEntrada 0.4s ease;
border:1px solid rgba(255,255,255,0.4);
}

.titulo-modal{
font-size:36px;
color:#1e40af;
margin-bottom:35px;
font-weight:800;
}

.horarios-grid{
display:grid;
grid-template-columns:1fr 1fr;
gap:25px;
}

.horario-card{
background:white;
border-radius:16px;
padding:28px;
transition:0.3s;
box-shadow:0 10px 25px rgba(0,0,0,0.08);
border-top:4px solid #ff8a00;
}

.horario-card:hover{
transform:translateY(-8px);
box-shadow:0 20px 40px rgba(0,0,0,0.15);
}

.icone{
width:55px;
height:55px;
background:linear-gradient(135deg,#ff8a00,#ffb347);
border-radius:50%;
display:flex;
align-items:center;
justify-content:center;
font-size:24px;
color:white;
margin:0 auto 15px auto;
}

.horario-card h3{
color:#1e40af;
margin-bottom:10px;
}

.horario-card p{
color:#444;
margin:4px 0;
}

.fechar{
position:absolute;
top:18px;
right:22px;
font-size:24px;
cursor:pointer;
color:#333;
}

.fechar:hover{
color:#ff8a00;
}

@keyframes modalEntrada{
from{
opacity:0;
transform:scale(0.85);
}
to{
opacity:1;
transform:scale(1);
}
}

@media(max-width:768px){

.horarios-grid{
grid-template-columns:1fr;
}

.modal-box{
padding:30px;
}

.titulo-modal{
font-size:28px;
}

}


/* HOVER */

.btn:hover{

transform:translateY(-4px);

box-shadow:0 12px 25px rgba(0,0,0,0.3);

}


/* EFEITO BRILHO */

.btn::before{

content:"";

position:absolute;

top:0;

left:-75%;

width:50%;

height:100%;

background:linear-gradient(
120deg,
transparent,
rgba(255,255,255,0.6),
transparent
);

transform:skewX(-25deg);

transition:0.6s;

}


/* ANIMAÇÃO BRILHO */

.btn:hover::before{

left:130%;

}


/* HOVER BOTÃO SAIBA */

.btn-saiba:hover{

background:white;

color:#1e4fa1;

}

/* NUMERO DA ESCOLA */
.numeros{

display:flex;

gap:40px;

margin-top:40px;

}


/* CARD DOS NÚMEROS */

.numeros div{

background:rgba(255,255,255,0.08);

backdrop-filter: blur(6px);

padding:20px 30px;

border-radius:10px;

text-align:center;

border:1px solid rgba(255,255,255,0.15);

transition:0.3s;

min-width:40px;

}


/* HOVER */

.numeros div:hover{

transform:translateY(-5px);

background:rgba(255,255,255,0.15);

box-shadow:0 10px 25px rgba(0,0,0,0.25);

}


/* NÚMERO */

.numeros strong{

font-size:36px;

color:#FFD54F;

display:block;

}

.numeros p {
  text-align: center;
  font-size: 10px;
}


/* TEXTO */
.numeros div{

background: #3273ce;
position:relative;

overflow:hidden;

}


/* EFEITO FLASH */

.numeros div::before{

content:"";

position:absolute;

top:0;

left:-100%;

width:60%;

height:100%;

background:linear-gradient(
120deg,
transparent,
rgba(255,255,255,0.8),
transparent
);

transform:skewX(-25deg);

animation:flash 3s infinite;

}


.numeros span{

font-size:14px;

opacity:0.9;

}


/* ANIMAÇÃO */

@keyframes flash{

0%{
left:-100%;
}

60%{
left:120%;
}

100%{
left:120%;
}

}


/* IMAGEM ALUNOS */


.banner-imagem img{
width:100%;
max-width:550px;
position:relative;
top:-94px;

animation:pulsar 4s ease-in-out infinite;
}

@keyframes pulsar{
0%{
transform:scale(1);
}

50%{
transform:scale(1.04);
}

100%{
transform:scale(1);
}
}

/* RESPONSIVO */

@media (max-width:768px){

.banner-container{
flex-direction:column;
text-align:center;
}

.banner-texto h1{
font-size:34px;
}

.subtitulo{
font-size:20px;
}

}


/* ==========================================================
   BANNER HERO
========================================================== */


.baner {
  position: relative;
  height: 90vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #f8f8f8;

  background: 
    linear-gradient(
      to bottom,
      rgba(255,255,255,0.95) 0%,
      rgba(173,216,230,0.6) 50%,
      rgba(255,255,255,0.95) 100%
    ),
    url("IMAGEM/baner/Capturar4.png");

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* Slides */
.slider {
  position: absolute;
  width: 100%;
  height: 100%;
}

.slide {
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  opacity: 0;
  transition: opacity 1.5s ease-in-out;
}

.slide.active {
  opacity: 1;
}

/* Degradê branco → azul claro → branco */
.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to bottom,
    rgba(255,255,255,0.95) 0%,
    rgba(173,216,230,0.6) 50%,
    rgba(255,255,255,0.95) 100%
  );
  z-index: 1;
}
/* Conteúdo acima de tudo */

.hero-content {
  position: relative;
  z-index: 2;
  max-width: 1000px;
}

.baner h1{
  text-align: center;
  font-size: clamp(28px, 6vw, 65px);
  line-height: 1.1;
  margin-bottom: 10px;
   text-shadow: 2px 4px 15px rgba(0, 0, 0, 0.85);
}

.baner p {
   font-size: clamp(16px, 2.5vw, 24px);
  margin-bottom: 35px;
  line-height: 1.6;
     text-shadow: 2px 4px 15px rgba(0, 0, 0, 0.85);

}


/* botão hero */

.btn-hero {
    
   display: inline-block;
  padding: 30px 45px;
  border-radius: 14px;
  background: linear-gradient(135deg, #facc15, #E65100);
  color: #fff;
  font-weight: 700;
  font-size: clamp(19px, 2vw, 20px);
  text-decoration: none;
  transition: 0.3s ease;
  box-shadow: 0 8px 22px rgba(0,0,0,.25);
}

.btn-hero:hover {
    
  transform: translateY(-4px);
  box-shadow: 0 12px 28px rgba(0,0,0,.35);
}


/* Animação */
@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


/* ==========================================================
   GALERIA
========================================================== */

.galeria {
  margin-top: 120px;
background: linear-gradient(
  to bottom,
  #ffffff 0%,
  #ffffff 20%,
  #FFAB40 75%,
  #ffffff 100%
);
}
.titulo-galeria{
text-align:center;
margin-bottom:80px;
}
.titulo-galeria{
text-align:center;
max-width:900px;
margin:0 auto;
}

/* texto pequeno */
.secao-topo{
font-size:25px;
letter-spacing:3px;
text-transform:uppercase;
color:#1e40af;
font-weight:800;
margin-bottom:10px;

opacity:0;
transform:translateY(20px);
animation:fadeUp 1s ease forwards;
}

/* wrapper do titulo */
.titulo-wrapper{
display:inline-block;
text-align:center;
}

/* titulo */
.secao-titulo{
font-size:58px;
font-weight:800;
color:#1e40af;
margin-bottom:10px;

opacity:0;
transform:translateY(30px);
animation:fadeUp 1s ease forwards;
animation-delay:0.3s;
}

/* destaque da palavra */
.secao-titulo span{
background:linear-gradient(90deg,#f59e0b,#ff7a18);
-webkit-background-clip:text;
-webkit-text-fill-color:transparent;
}

/* subtitulo */
.secao-subtitulo{
font-size:22px;
color:#555;
max-width:700px;
margin:0 auto;
margin-top:10px;
}

/* linha animada */
.decoracao{
width:100%;
height:4px;
margin-top:10px;
border-radius:10px;
background:linear-gradient(90deg,#f59e0b,#ff7a18);
}

/* subtitulo */
.secao-subtitulo{
font-size:28px;
color:#555;
max-width:790px;
margin:auto;
line-height:1.6;

opacity:0;
transform:translateY(20px);
animation:fadeUp 1s ease forwards;
animation-delay:0.9s;
}

/* animações */

@keyframes fadeUp{
to{
opacity:1;
transform:translateY(0);
}
}

@keyframes linhaCresce{
to{
width:90px;
}
}
.galeria-modal {
  display: none;
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.85);
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.galeria-modal img {
  max-width: 90%;
  max-height: 90%;
  border-radius: 12px;
}

.galeria-slider {
  overflow: hidden;
  width: 100%;
  margin-top: 40px;
}

.galeria-track {
  display: flex;
  gap: 20px;
  animation: scrollGaleria 25s linear infinite;
}


.galeria-filtros {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-bottom: 50px;
  flex-wrap: wrap;
}

.galeria-filtros button {
  padding: 10px 26px;
  border-radius: 30px;
  border: none;
  background: #fff;
  color: #062A5E;
  font-weight: 600;
  cursor: pointer;
  transition: .3s;
  
}

.galeria-filtros button.active,
.galeria-filtros button:hover {
  background: #062A5E;
  color: #fff;
}


.galeria-card {

 min-width: 300px;
  border-radius: 18px;
  overflow: hidden;
  background: #fff;
  box-shadow: 0 10px 25px rgba(0,0,0,0.08);
  cursor: pointer;
  transition: transform 0.3s ease;
}

.galeria-card:hover {
  transform: translateY(-8px);
}

.galeria-card img {
  object-fit: contain;
  width: 100%;
  height: 270px;
  object-fit: cover;
  border-radius: 15px;
  cursor: pointer;
}

.galeria-track:hover {
  animation-play-state: paused;
}


@keyframes scrollGaleria {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

       /* ==========================================================
   REDE SOCIAL
========================================================== */
.redes-confira {
  margin-top: 30px;
  display: block;
  text-align: center;
 font-size:28px;
  color:#555;
 
}

.rede {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 14px 22px;
  border-radius: 50px;
  text-decoration: none;
  color: #fff;
  font-weight: 600;
  transition: all 0.3s ease;
}


.redes-sociais {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  margin-top: 40px;
}

.social-btn {
  display: inline-flex;
  align-items: center;
  gap: 12px;
  padding: 14px 28px;
  border-radius: 50px;
  font-weight: 600;
  text-decoration: none;
  color: #fff;
  transition: 0.3s ease;

}

.icon {
  width: 24px;
  height: 24px;
  fill: currentColor; /* usa a cor do botão */
}

.social-btn .icon {
  width: 20px;
  height: 20px;
}


.rede .icon {
  width: 22px;
  height: 22px;
}



.rede svg {
  width: 100%;
  height: 100%;
}

/* CORES DAS REDES */
.instagram {
  background: linear-gradient(45deg, #f58529, #dd2a7b, #8134af, #515bd4);
  color: #fff;
}.facebook { background: #1877F2; }
.youtube { background: #FF0000; }

.rede:hover {
  transform: translateY(-4px);
  box-shadow: 0 8px 20px rgba(0,0,0,0.15);
}


       /* ==========================================================
   SOBRE NÓS
========================================================== */

.modal-zoom {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,.85);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  transition: .4s;
  z-index: 9999;
}

.modal-zoom.active {
  opacity: 1;
  pointer-events: auto;
}

.modal-zoom img {
  max-width: 90%;
  max-height: 90%;
  border-radius: 14px;
  animation: zoomIn .4s ease;
}

@keyframes zoomIn {
  from { transform: scale(.7); opacity: 0; }
  to { transform: scale(1); opacity: 1; }
}


 
       /* ==========================================================
   CARDS SOBRE NÓS
========================================================== */
  .titulo-sobre{
text-align:center;
max-width:900px;
margin:auto;
}

/* texto pequeno em cima */
.secao-topo{
font-size:14px;
letter-spacing:3px;
text-transform:uppercase;
color:#1e40af;
font-weight:600;
margin-bottom:10px;
}

/* titulo */
.titulo-sobre-principal{
font-size:48px;
font-weight:800;
color:#17375e;
margin-bottom:10px;
}

/* wrapper */
.titulo-wrapper{
display:inline-block;
}

/* linha */
.linha-sobre{
width:100%;
height:4px;
background:linear-gradient(90deg,#f59e0b,#ff7a18);
border-radius:10px;
margin-top:8px;
}

/* texto */
.texto-sobre{
margin-top:30px;
font-size:22px;
line-height:1.7;
color:#e65100;
margin-bottom: 70px;
}



                 /* cad Missão */
      .card1 { 
        background: #fff;
        padding: 35px 25px;
        border-radius: 18px;
        box-shadow: 0 10px 25px rgba(0,0,0,0.08);
        text-align: center;
        transition: 0.3s; 
    }
    
      .card1 h3 { 

        margin-bottom: 12px;
        font-size: 35px;
        color:#E65100; }

       .card1 p {
            font-size: 22px;
            font-weight: 80;
        }


            /* cad Valores */
    
      .card2 { 
        background: #fbfbfc;
        padding: 35px 25px;
        border-radius: 18px;
        box-shadow: 0 10px 25px rgba(0,0,0,0.08);
        transition: 0.3s; 
        color: #0a0a0a;
        font-weight: 800;
    }

      .card2 i {
        padding: 10px;
        color: #E65100;
     }

      .card2 h3 { 
        margin-bottom: 12px;
        font-size: 35px;
        text-align: center;
        color: #1E48C6;

     }

      .card2 p {
            font-size: 20px;
            font-weight: 500;
         
        }
     
           /* cad VISÃO */

        .card3 { 
        background: linear-gradient(135deg, #062A5E, #0B3C8C, #1E63B7);
        padding: 35px 25px;
        border-radius: 18px;
        box-shadow: 0 10px 25px rgba(0,0,0,0.08);
        text-align: center;
        transition: 0.3s; 
        color: #fff;
    }
        
        .card3 h3 { 
        margin-bottom: 12px;
        font-size: 35px;
        color: #ffffff; }

        .card3 p {
            padding: 10px;
            font-size: 25px;
            font-weight: 80;
        }

          /* efeito cards */

        .card1:hover { 
         transform: translateY(-8px);
         box-shadow: 0 15px 35px rgba(216, 140, 25, 0.12);
    }

        .card2:hover { 
         transform: translateY(-8px);
         box-shadow: 0 15px 35px rgba(216, 140, 25, 0.12);
    }
        .card3:hover { 
         transform: translateY(-8px);
         box-shadow: 0 15px 35px rgba(216, 140, 25, 0.12);
    }
        
 
   
    
            /* ==========================================================
   CARDS PADRÃO
========================================================== */

    .grid { 
        max-width: 1200px; /* largura máxima do conteúdo */
        margin: auto;      /* centraliza horizontalmente */
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
        gap: 25px; }



          /* ==========================================================
   CARDS INF
========================================================== */

       .nivel_ensino h2 {
         text-align: center;
         margin-bottom: 50px;
         font-size: 50px;
         color: #0f2a44;
     }

           
     .nivel_ensino h2::after {
        content: "";
        display: block;
        width: 400px;
        height: 5px;
        background: linear-gradient(90deg, #facc15, #E65100);
        margin: 12px auto 0;
        border-radius: 5px;
}

   .nivel_ensino h2:hover::after {
        width: 00%;
}

   
.cardinf {
  background: #ffffff;
  border-radius: 22px;
  overflow: hidden; /* MUITO IMPORTANTE */
  box-shadow: 0 15px 40px rgba(0,0,0,0.06);
  transition: all 0.35s ease;
}



/* IMAGEM COLADA */
.cardinf img {
  width: 100%;
  height: 230px;
  object-fit: cover;
  display: block; /* remove espaço invisível */
  background: linear-gradient(
    to bottom,
    rgba(255,255,255,0) 0%,
    rgba(255,255,255,0.8) 70%,
    #ffffff 100%
  );
}

/* ÁREA DO TEXTO */
.cardinf .conteudo {
  padding: 25px 25px 35px;
  text-align: center;
}

/* TÍTULO */
.cardinf h3 {
  margin-bottom: 12px;
  font-size: 24px;
  color: #0f2a44;
  font-weight: 700;
}

/* TEXTO */
.cardinf p {
  font-size: 16px;
  color: #555;
  line-height: 1.6;
}

/* HOVER */
.cardinf:hover {
  transform: translateY(-12px);
  box-shadow: 0 25px 60px rgba(0,0,0,0.12);
}

    /* ==========================================================
   CARDS FUND. I
========================================================== */

 
.cardI {
  background: #ffffff;
  border-radius: 22px;
  overflow: hidden; /* MUITO IMPORTANTE */
  box-shadow: 0 15px 40px rgba(0,0,0,0.06);
  transition: all 0.35s ease;
}



/* IMAGEM COLADA */
.cardI img {
  width: 100%;
  height: 230px;
  object-fit: cover;
  display: block; /* remove espaço invisível */
  background: linear-gradient(
    to bottom,
    rgba(255,255,255,0) 0%,
    rgba(255,255,255,0.8) 70%,
    #ffffff 100%
  );
}

/* ÁREA DO TEXTO */
.cardI .conteudo {
  padding: 25px 25px 35px;
  text-align: center;
}

/* TÍTULO */
.cardI h3 {
  margin-bottom: 12px;
  font-size: 30px;
  color: #0f2a44;
  font-weight: 700;
}

/* TEXTO */
.cardI p {
  font-size: 16px;
  color: #555;
  line-height: 1.6;
}

/* HOVER */
.cardI:hover {
  transform: translateY(-12px);
  box-shadow: 0 25px 60px rgba(0,0,0,0.12);
}

    /* ==========================================================
   CARDS FUND. II
========================================================== */
 
.cardII {
  background: #ffffff;
  border-radius: 22px;
  overflow: hidden; /* MUITO IMPORTANTE */
  box-shadow: 0 15px 40px rgba(0,0,0,0.06);
  transition: all 0.35s ease;
}



/* IMAGEM COLADA */
.cardII img {
  width: 100%;
  height: 230px;
  object-fit: cover;
  display: block; /* remove espaço invisível */
  background: linear-gradient(
    to bottom,
    rgba(255,255,255,0) 0%,
    rgba(255,255,255,0.8) 70%,
    #ffffff 100%
  );
}

/* ÁREA DO TEXTO */
.cardII .conteudo {
  padding: 25px 25px 35px;
  text-align: center;
}

/* TÍTULO */
.cardII h3 {
  margin-bottom: 12px;
  font-size: 30px;
  color: #0f2a44;
  font-weight: 700;
}

/* TEXTO */
.cardII p {
  font-size: 16px;
  color: #555;
  line-height: 1.6;
}

/* HOVER */
.cardII:hover {
  transform: translateY(-12px);
  box-shadow: 0 25px 60px rgba(0,0,0,0.12);
}


/* ==========================================================
   BANER MATRICULA
========================================================== */

.banner-matricula {
  background: linear-gradient(135deg, #f6b100, #f25c05);
  padding: 100px 20px;
  text-align: center;
  color: white;
  position: relative;
  overflow: hidden;
  margin-bottom: 80px;
}


.banner-matricula::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: radial-gradient(rgba(255,255,255,0.1) 1px, transparent 1px);
  background-size: 30px 30px;
  top: 0;
  left: 0;
}

.conteudo {
  position: relative;
  max-width: 800px;
  margin: auto;
  z-index: 2;
}

.banner-matricula h1 {
  font-size: 60px;
  font-weight: 800;
  margin-bottom: 20px;
}

.banner-matricula p {
  font-size: 23px;
  line-height: 1;
  margin-bottom: 35px;
  
}

.btn-whatsapp {
  background: #1e40af;
  padding: 19px 30px;
  border-radius: 10px;
  color: white;
  font-size: 20px;
  text-decoration: none;
  font-weight: bold;
  display: inline-block;
  transition: 0.3s;
  box-shadow: 0 10px 25px rgba(255, 253, 253, 0.2);
}

.btn-whatsapp:hover {
  transform: translateY(-3px);
  background: #1a3796;
}


/* ONDA */
.wave-menu{
  position:absolute;
  bottom:-1px;
  left:0;
  width:100%;
  line-height:0;
}

.wave-menu svg{
  width:100%;
  height:90px;
  display:block;
}






 /* ==========================================================
   RODAPÉ + CONTATO
========================================================== */

.contato {
  background: linear-gradient(135deg, #062A5E, #0B3C8C, #1E63B7);
  color: #ffffff;
  padding: 60px 20px 0;
}

.footer-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 30px;
  max-width: 1200px;
  margin: auto;
}

.footer-box h3 {
  font-size: 30px;
  margin-bottom: 12px;
  color: #FFC72C;
}

.footer-box p,
.footer-box a {
  color: #eaf3ff;
  text-decoration: none;
  font-size: 20px;
}

.footer-box a:hover {
  color: #FFC72C;
}

/* MAPA */
.mapa iframe {
  width: 100%;
  height: 320px;
  border: none;
  border-radius: 50px;
  margin-top: 40px;
  padding: 25px 20px;
}



/* FOOTER INFERIOR */
.rodape {
  background: #06214a;
  color: #dbe9ff;
  padding: 25px 20px;
  font-size: 0.9rem;
  border-top: 2px solid #FFC72C;
  text-align: center;
}




/* ==========================================================
   BOTÃO FLUTUANTE WHATSAPP
========================================================== */

.whatsapp-float {
  position: fixed;
  right: 18px;
  bottom: 50px;
  background: linear-gradient(135deg, #25d366, #1ebe57);
  color: #fff;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 28px;
  box-shadow: 0 6px 16px rgba(0,0,0,0.35);
  z-index: 999;
  transition: 0.3s ease;
}

.whatsapp-float:hover {
  transform: scale(1.1);
}


@keyframes pulse {
  0% { box-shadow: 0 0 0 0 rgba(37,211,102,0.6); }
  70% { box-shadow: 0 0 0 15px rgba(37,211,102,0); }
  100% { box-shadow: 0 0 0 0 rgba(37,211,102,0); }
}
   
   
   
    /* =================== RESPONSIVO =================== */
/* ==========================================================
RESPONSIVIDADE PROFISSIONAL
Desktop grande / Notebook / Tablet / Mobile
========================================================== */
/* ==========================================================
   RESPONSIVIDADE PARA NOTEBOOK
   Telas entre 1024px e 1366px
========================================================== */

@media (max-width: 1366px){

.container{
  padding:10px 40px 0 40px;
}

.banner-escolar .container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
}

/* TEXTO */
.banner-texto h1{
 padding:20px;
  font-size: 42px;
  line-height: 1.2;
}

.banner-texto h3{
  font-size: 20px;
}

.banner-texto p{
  font-size: 16px;
}

/* BENEFÍCIOS */
.beneficios{
  gap: 10px;
}

.beneficio-item p{
  font-size: 14px;
}

/* BOTÕES */
.botoes{
  margin-top: 20px;
}

.btn{
  padding: 12px 22px;
  font-size: 14px;
}

/* NÚMEROS */
.numeros{
  margin-top: 25px;
  gap: 25px;
}

.numeros strong{
  font-size: 24px;
}

.numeros span{
  font-size: 12px;
}

/* IMAGEM */
.banner-imagem img{
  width: 100%;
  max-width: 480px;
  top: -40px; /* sobe um pouco a imagem */
}

/* SELO MATRÍCULA */
.selo-matriculas{
  transform: scale(0.9);
}

}

/* TABLET */
@media (max-width:1024px){

.container{
flex-direction:column;
text-align:center;
gap:40px;
}

.banner-imagem img{
max-width:420px;
top:0;
}

.beneficios{
grid-template-columns:1fr;
}

.numeros{
justify-content:center;
flex-wrap:wrap;
}

.banner-escolar h1{
font-size:36px;
}

.secao-titulo{
font-size:40px;
}

}


    /* ===== RESPONSIVIDADE ===== */


@media (max-width: 900px) {
  header {
  height: 90px;
  padding: 0 20px;
}

body {
  padding-top: 90px;
}

.logo img {
  height: 60px;
}

.btn-matricula {
  display: none; /* esconde botão grande no mobile */
}

.baner {
  height: 75vh;
  padding: 40px 20px;
}

.hero-content {
  max-width: 100%;
  padding: 0 15px;
}

.baner h1 {
  font-size: clamp(26px, 8vw, 40px);
}

.baner p {
  font-size: 16px;
}

  .menu-toggle {
    display: flex;
  }

  .grid {
  grid-template-columns: 1fr;
}
  nav {
    position: fixed;
    top: 0;
    right: -100%;
    width: 280px;
    height: 100vh;
    background: #1e3caa;
    flex-direction: column;
    padding: 120px 30px;
    gap: 25px;
    transition: right 0.4s ease;
    box-shadow: -5px 0 20px rgba(0,0,0,.2);
    z-index: 1000;
  }

  nav.active {
    right: 0;
  }

  nav a {
    font-size: 18px;
  }

}

@media (max-width:768px){



header{
display:flex;
align-items:center;
gap:10px;
}



body{
padding-top:10px;
}

nav{
display:none;
}

.menu-toggle{
display:flex;
}

.banner-escolar{
padding:80px 20px;
text-align:center;
}

.banner-escolar h1{
font-size:30px;
}

.banner-imagem img{
max-width:320px;
}

.botoes{
flex-direction:column;
align-items:center;
}

.numeros{
flex-direction:column;
align-items:center;
gap:15px;
}

.secao-titulo{
font-size:32px;
}

.banner-matricula h1{
font-size:34px;
}

.banner-matricula p{
font-size:18px;
}

.logo{
position:absolute;
left:40%;
transform:translateX(-50%);
}


.titulo-site{
display:block;
font-size:18px;
line-height:1.2;
}

.destaque{
padding:40px 20px;
text-align:center;
}

.destaque h1{
font-size:28px;
line-height:1.3;
}

.destaque p{
font-size:16px;
}

.destaque-container{
flex-direction:column;
text-align:center;
}

.destaque-texto h1{
font-size:34px;
}

.destaque-texto p{
font-size:16px;
}

.divisor{
display:none;
}

.card-conteudo{
flex-direction:column;
text-align:center;
}

.galeria,.baner, .nivel_ensino,
.sobre, .titulo-sobre, .grid{
   padding-left:20px;
  padding-right:20px;
}

/* CONTAINER */

.container{
flex-direction:column;
text-align:center;
gap:40px;
}


/* TEXTO */

.banner-texto{
max-width:100%;
}


/* TITULO */

.banner-escolar h1{
font-size:36px;
}


/* SUBTITULO */

.banner-escolar h3{
font-size:18px;
}


/* BENEFICIOS */

.beneficios{
justify-items:center;
}


/* BOTÕES */

.botoes{
flex-direction:column;
align-items:center;
}

.btn{
width:220px;
}


/* SELO MATRÍCULAS */

.selo-matriculas{
padding:10px 20px 10px 45px;
}

.icone-selo{
width:55px;
height:55px;
font-size:24px;
left:-25px;
top:-20px;
}

.linha1{
font-size:20px;
}

.linha2{
font-size:13px;
}


/* NUMEROS */

.numeros{
flex-direction:column;
align-items:center;
gap:20px;
}

.numeros div{
width:220px;
}


/* BANNER */

.banner-escolar{
padding:100px 40px;

}



.banner-imagem{
margin-top:60px;
}

.banner-imagem img{
max-width:320px;
margin:auto;
display:block;
}


/* esconder menu normal */
nav{
display:none;
}

/* mostrar botão hamburguer */
.menu-toggle{
position:absolute;
left:20px;
display:flex;
}

/* tamanho da logo */
.logo img{

height:55px;
}

/* esconder titulo dentro da logo */
.logo .titulo-site{
display:none;
}

/* ===== QUANDO NÃO ROLOU ===== */

/* mostrar logo */
header:not(.scrolled) .logo{
display:flex;
}

/* esconder titulo */
header:not(.scrolled) .titulo{
display:none;
}

/* ===== QUANDO ROLAR ===== */

/* esconder logo */
header.scrolled .logo{
display:none;
}

/* mostrar titulo */
header.scrolled .titulo{
display:block;
font-size:18px;
line-height:1.2;
}


}


